<!-- <app-interpolation-binding></app-interpolation-binding> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-ngif></app-ngif> -->  <!---how to aplly filter is seen over here--->
<!-- <app-ngfor></app-ngfor> -->
<!-- <app-ngswitch></app-ngswitch> -->
<!-- <app-child parenttochild={{ students}}></app-child>  tranfing data using input if data is not in array-->
<!-- <app-child [parenttochild]='students'></app-child> --> <!-- parent ot child component if data is in array -->
<!-- <ul>
  <li *ngFor="let item of items">{{item}}</li>
</ul>
<app-event-binding (newevent)="additem($event)"></app-event-binding>
child to parent transfering of data.....(newevent) is the Eventemitter name OF chlidcomponenet -->

<!-- <app-pipe></app-pipe> -->


<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-regestration-form></app-regestration-form>-->
<!-- <button (click)="name='alex'"> name</button>
{{name}}
<router-outlet></router-outlet>
{{"anhular" | slice:0:-5}}
{{"5/11/2025,11:30:45 AM"| date:'mediumDate'}}
rating:{{0.3|sort}}
<app-ngif></app-ngif -->>
<!-- {{"jhon"|slice:-1}}
{{"5/21/2014"|date:"yyyy-MM-dd"}}
<app-ngswitch></app-ngswitch> -->
<!-- <app-event-binding (newevent)="additem($event)"></app-event-binding> -->

<app-api></app-api>
<router-outlet></router-outlet>
<!-- <app-api-post></app-api-post> -->
<!-- <app-api-update></app-api-update> -->
<!-- <app-internship></app-internship> -->
